@import "src/assets/scss/variables/colors";
@import "src/assets/scss/variables/misc";
@import "src/assets/scss/mixins/mixins";

.Product {
  width: auto;
  flex: 0 0 16rem;
  min-height: 0;
  margin: 0 10px;

  &__images {
    @include roundedImage($border__secondary);
  }

  h3 {
    font-size: 1.4rem;
    margin: 10px 0 0 0;
  }
}
