@import "src/assets/scss/variables/colors";
@import "src/assets/scss/variables/layout";
@import "src/assets/scss/variables/misc";
@import "src/assets/scss/mixins/mixins";

.Message {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 20px 0;

  &__image {
    @include roundedImage($color__white);
  }

  &__messages{
    padding: 0 10px;
    position: relative;
    flex: 1;

    > p {
      margin: 0 0 5px 0;
      color: $color__text-main;
      font-size: 1.4rem;
    }
  }

  &--human {
    .Message__image {
      margin: 0 20px 0 0;
    }
  }

  &--robot {
    margin-left: auto;

    .Message__image {
      order: 1;
      margin: 0 0 0 20px;
    }

    .Message__messages{
      order: 0;
    }
  }
}
