.Products {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: height 0.3s ease-in-out, opacity 0.4s ease-in-out;
  overflow-y: hidden;
  overflow-x: scroll;
  height: 150px;
  opacity: 1;
  flex-wrap: nowrap;

  &--hide {
    height: 0;
    opacity: 0;
  }

  &--show {
    height: 150px;
    opacity: 1;
  }
}
