@import "~reset-css";
@import "assets/scss/variables/colors";
@import "assets/scss/typography/copy";
@import "assets/scss/typography/headings";

html {
  font-size: 16px;
  font-size: 62.5%;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.2;
}
